<nav>
    <h2 class="logo">Casi<span>sio</span></h2>
    <ul>
      <li><a class="active" href="/">Accueil</a></li>
      <li><a href="/play">Nos jeux</a></li>
      <li><a href="/about">A propos</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <button type="button"><a href="/create">S'inscrire</a></button>
    <button type="button"><a href="/login">Se connecter</a></button>
    <button type="button"><a href="/disco">Se déconnecter</a></button>
  </nav>