<nav>
    <h2 class="logo">Casi<span>sio</span></h2>
    <ul>
      <li><a class="active" href="/">Accueil</a></li>
      <li><a href="/play">Nos jeux</a></li>
      <li><a href="/about">A propos</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="btn">
      <a href="/create"class="inscription">S'inscrire</a>
      <a href="/login" class="connexion">Se connecter</a>
      <a id="disco" href="/disco" class="connexion">Se connecter</a>
    </div>

  </nav>