<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
    <link rel="stylesheet" href="../src/css/apropos.css">
</head>
<body>
    <section class="about">
        <div class="main">
            <img src="../src/img/about.jpg">
            <div class="about-text">
                <h1>A propos</h1>
                <h5>Developpeur <span> & Designer</span></h5>
                <p>
                    Ce site a été développé par 4 développeurs : Maissa Abdelli, Clément Gault, 
                    Julien Bechir, Toni Pastré. Ce site  est conçu pour les clients qui veulent jouer au casino
                    sans pour autant utiliser de la monnaie réelle au risque de perdre réellement leur argent. 
                    Les développeurs ont fait en sorte de créer une monnaie virtuelle, permettant 
                    ainsi de voir les conséquences d’une mise dans la partie d’un jeu. 
                    Ces jeux ont été inspirés de vrais jeux de casino, permettant ainsi de rendre cette simulation 
                    la plus réelle possible pour les grands joueurs de casino. 
                    Cependant, ce site est également conçu pour ceux qui ont simplement l’envie de jouer pour le but de se divertir.</p>
            </div>
        </div>
    </section>
</body>
</html>