<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="./css/stylechat.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="../js/chat.js "></script>
    <title>ElisPlay Chat</title>
</head>

<body>
    <header>
        <h1>ElisPlay Chat</h1>
    </header>

    <section id="chatroom">
    </section>
    <section id="feedback"></section>



    <section id="input_zone">
        <input id="message" class="vertical-align" type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
    </script>
</body>

</html>