<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jackpot</title>

    <script src="../src/js/classement.js"></script>
 
  </head>

  <body>

    <form id="form">
        <input name="valcherche" id="valcher" />Valcher
        <input type="submit">
    </form>

    <table id="tbl">
<thead>
  <th>Username</th>
  <th>SioEuro$</th>
  <th>DernièreMise</th>
</thead>
    </table>
  </body>
</html>
