<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>create</title>
    <link href="./css/stylelogin.css" rel="stylesheet" type="text/css">
    <script src="../src/js/login.js"></script>

</head>

<body>
    <div class="login">
        <h1>CREATE</h1>
        <button id="change">Username</button>

        <form id="form" action="/create" method="post">

            <div id="usernamediv">
                <input type="text" name="username" placeholder="Username" id="username">
            </div>

            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="submit" value="Create Account">

        </form>
    </div>
</body>

</html>