<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <script src="../src/js/erreurpage.js"></script>
</head>

<button id="homePage"> Retour au menu principal !</button>

<button id="avant"> Retour a la page d'avant !</button>

</body>




</html>
