<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Roulette</title>
        <link rel="stylesheet" type="text/css" href="../src/css/roulette.css">
        <script src="../src/js/realroulette.js"></script>
    </head>
    <body class="back">
   
        <h1 id ="result"></h1>
        <div id = "app" class="app">
            <img class="marker" src="../src/img/marker.png" alt="">
            <img class="wheel" src="../src/img/whel.png" alt="">
            <img class="button" src="../src/img/boutton.png" alt="">

        </div>
    </body>
   
</html>