<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Jackpot</title>

		<script src="../src/js/roulette.js"></script>
        <style>
            img {
                width: 80px;
                height: 80px;
            }
        </style>
<script>

function getwin(){
	for(var i = 0; i < 10; i++){
		var img = document.querySelectorAll("img")[i]
		//if(img.indexOf("block") != -1){
			console.log(img)
			console.log("ok")
		//}
	}

	console.log(img)
}

</script>
	</head>
	<body>

		<div class="container">
			<div class="page-header">
				<h1>
					Jackpot Roulette
				</h1>
			</div>

			<div class="row">
				<div class="span4">
					<div class="roulette_container" style="display:flex;">
						<div class="roulette">
							<img src="../src/img/chomp.png"/>
							<img src="../src/img/coin.png"/>
							<img src="../src/img/flower.png"/>
							<img src="../src/img/mshroom.png"/>
							<img src="../src/img/star.png"/>
						</div>
                        <div class="roulette">
							<img src="../src/img/chomp.png"/>
							<img src="../src/img/coin.png"/>
							<img src="../src/img/flower.png"/>
							<img src="../src/img/mshroom.png"/>
							<img src="../src/img/star.png"/>
						</div>
                        <div class="roulette">
							<img src="../src/img/chomp.png"/>
							<img src="../src/img/coin.png"/>
							<img src="../src/img/flower.png"/>
							<img src="../src/img/mshroom.png"/>
							<img src="../src/img/star.png"/>
						</div>
					</div>
					<div class="btn_container">
						<p>
						<button id="start"> START </button>
						<button id="stop" > STOP </button>
						<button id="get" onclick="getwin()"> GET </button>
						</p>
					</div>
				</div>


	</body>
</html>

