<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Jackpot</title>

    <script src="../src/js/roulette.js"></script>
    <!-- <link rel="stylesheet" href="../src/img/jackpot.css"> -->
    <link rel="stylesheet" href="../src/css/jackpot.css">

    <style>
    </style>
</head>

<body>

    <div class="container">
        <div class="page-header">

        </div>

        <div class="row">
            <div class="box2">
                <h1>Jackpot Roulette</h1>
                <div id="cont" class="roulette_container">
                    <div class="roulette">
                        <img id="stop" src="../src/img/chomp.png" />
                        <img src="../src/img/coin.png" />
                        <img src="../src/img/flower.png" />
                        <img src="../src/img/mshroom.png" />
                        <img src="../src/img/star.png" />
                    </div>
                    <div class="roulette">
                        <img id="stop" src="../src/img/chomp.png" />
                        <img src="../src/img/coin.png" />
                        <img src="../src/img/flower.png" />
                        <img src="../src/img/mshroom.png" />
                        <img src="../src/img/star.png" />
                    </div>
                    <div class="roulette">
                        <img id="stop" src="../src/img/chomp.png" />
                        <img src="../src/img/coin.png" />
                        <img src="../src/img/flower.png" />
                        <img src="../src/img/mshroom.png" />
                        <img src="../src/img/star.png" />
                    </div>
                </div>
                <br>
                <br>
                <div class="stop">
                    <input type="submit" id="stopage" value="Stop">
                </div>
            </div>

            <!-- <div class="box">
                <h1>Votre mise :</h1>
                <form>

                </form>

            </div> -->

            <div class="btn_container">
                <p>
                    <!--<button id="start"> START </button>-->

                    <!-- <button id="get" onclick="getwin()"> GET </button> -->
                </p>
                <label>Votre mise</label>
                <input id="mise" value="10" type="text"> </input>

                <p>Vous avez gagnée: <b><span id="nbggwin"></b></span></p>

                <p>Vous avez sur votre compte :<b><span id="combienatu"></span></b></p>
            </div>
            <div class="box">
                <h1>Les règles du jackpot</h1>
                <p>Le principe du jackpot :Le principe de ce jeu est de miser une certaine somme d'argent virtuelle sur
                    le jeu et par la suite , le déroulement du jeu ce suit par les résultats des symboles déroulants.
                    Les conditions sont les suivantes:
                    - Si le joueur tombe sur deux symboles identiques, sa mise sera multiplié par 1,25.
                    - Si le joueur tombe sur trois symboles identiques, sa mise sera multiplié par 2
                </p>
            </div>
        </div>


</body>

</html>