<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <script src="../src/js/login.js"></script>

</head>

<body>
    <button id="createbtn">Create New Account</button>

    <div class="login">
        <h1>Login</h1>
        <form action="/auth" method="post">

            <div id="emaildiv" style="display: none;">
                <input type="text" name="email" placeholder="Email" id="email">

            </div>

            <div id="usernamediv">
                <input type="text" name="username" placeholder="Pseudonyme" id="username" required>
            </div>


            <input type="password" name="password" placeholder="Mot de passe" id="password" required>
            <br><br>
            <input id="btnlog" type="submit" value="Login">
        </form>
    </div>

</body>

</html>
