<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <script src="../src/js/login.js"></script>
    <link rel="stylesheet" href="../src/css/connexion.css">
</head>

<body class="hero">
    <div class="main">
        <div class="box">
            <h1>Connexion</h1>
            <!-- action="/auth" method="post" -->
            <form id="form" >
                <div>
                    <p id="err"></p>
                    <br>
                </div>
                <div class="unInput">
                    <input id="username" type="text" name="username" autocomplete="off" required>
                    <label>Utilisateur</label>
                </div>

                <div class="unInput">
                    <input id="password" type="password" name="password" autocomplete="off" required>
                    <label>Mot de passe</label>
                </div>



                <div class="inscrConnexion">
                    <input id="btnlog" type="submit" value="Se connecter">
                    <a href="/create">S'inscrire</a>
                </div>


            </form>
        </div>
    </div>

</body>
