<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <title>Update Password</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <link href="./css/stylelogin.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Bienvenue
        <%= username %>
    </h1>
    <div class="login">
        <h1>Update Password And Delete</h1>

        <label for="username">
          <!-- font awesome icon -->
          <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" value="<%= username %>" required readonly/>
        <br>
        <label for="password">
          <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required />
<br><br>
<button onclick="Delete()">Delete</button>
<br><br>
        <label for="password">
            <i class="fas fa-lock"></i>
          </label>
        <input type="password" name="newpassword" placeholder="newpassword" id="newpassword" required />
        <br><br>
       <button onclick="post()">Update</button>
       
<br><br><br>

<p>Image Upload</p>
<form method="post" action="/post" enctype="multipart/form-data">
  <input type="file" name="image" /><br /><br />
  <button type="submit" name="upload">Upload</button>
</form>

    </div>

    <script>
        function post() {
            fetch(`${document.location.origin}/updatepass`, {
                    // Adding method type
                    method: "POST",

                    // Adding body or contents to send
                    body: JSON.stringify({
                        username: document.getElementById("username").value,
                        password: document.getElementById("password").value,
                        newpassword: document.getElementById("newpassword").value
                    }),

                    // Adding headers to the request
                    headers: {
                        "Content-type": "application/json; charset=UTF-8",
                    },
                })
                // Converting to JSON
                .then((response) => console.log(response))
                // Displaying results to console
                .then((json) => {
                    alert("Updated Password");
                    document.location.href = "/disco";
                }).catch((error) => {
                    console.error(error);
                    alert("Votre mot de passe n'a pas pu être supprimée.");
                });


        }

        function Delete() {

            fetch(`${document.location.origin}/deleteaccount`, {
                    headers: {
                        "Content-type": "application/json; charset=UTF-8",
                    },
                    method: "DELETE",
                    body: JSON.stringify({
                        username: document.getElementById("username").value,
                        password: document.getElementById("password").value,
                    }),
                })
                .then((response) => console.log(response))
                .then((json) => {
                    alert("Delete account");
                    document.location.href = "/disco";
                }).catch((error) => {
                    console.error(error);
                    alert("Votre compte n'a pas pu être supprimé");
                });

        }
    </script>
</body>

</html>