Bonjour : <%= username %> PLAY

<script src="../src/js/play.js"></script>

<button id="manageaccount">Manage Account</button>

<a href="/disco">Disconnect</a>

<a href="/manage">Manage</a>

<a href="/game1">Premier jeu !</a>

<img
  src="../src/img/<%=username%>.img"
  alt="ImgDeProfil"
/>
