<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <script src="../src/js/play.js"></script>
  </head>
  <body>
    <header class="hero">
      <%- include('./partials/header'); %>
      <br><br>
   <h1> Bonjour : <span><%= username %></span></h1>

    <button id="manageaccount">Manage Account</button>

    <section class="shop" id="shop" >
      <div class="container">
        <div class="box">
          <img src="../src/img/roulette4.png">
          <h4>La roulette</h4>
        </div>

        <div class="box">
          <img src="../src/img/roulette4.png">
          <h4>La roulette</h4>
        </div>

        <div class="box">
          <img src="../src/img/roulette4.png">
          <h4>La roulette</h4>
        </div>

       
      </div>

    </section>

    <img
      src="../src/people/<%=username%>.jpg"
      alt="ImgDeProfil"
      width="0"
      height="0"
    />
  </header>
  </body>
</html>
