<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Roulette</title>
    <link rel="stylesheet" type="text/css" href="roulette.css">
    <script src="../src/js/realroulette.js"></script>
</head>

<body class="back">
    <h1 id="ggoupas">La roulette des sio</h1>

    <h1 id="result"></h1>
    <div id="app" class="app">
        
        <img class="marker" src="../src/img/marker.png" alt="">
        <img class="wheel" src="../src/img/whel.png" alt="">
        <img id="btnimg" class="button" src="../src/img/boutton.png" alt="">

    </div>

    <input id="mise" value="10" type="text"> </input>
    
        <div class="box">
            <h1>Les règles de la roulette</h1>
            <p>- La Roulette est un jeu de casino qui consiste à </br> 
                prédire où la bille va s’arrêter en misant une certaine somme.</br> 
                 Dans ce jeu de hasard, assez simple à comprendre, vous pouvez </br>
                miser sur une couleur :
                - si vous misez sur la couleur Noire ou Rouge et que vous remportez votre pari</br> 
                vous doublez votre mise initiale.
                - si vous misez sur la couleur vert et que vous remportez votre pari</br> 
                vous quintuplez votre mise initiale.
            
            </p>
        </div>

<br><br><br>
    <p class="resultat">Vous avez sur votre compte :<b><span id="combienatu"></span></b></p>
    <br><br><br><br>
    <fieldset>
        <legend>Selectionner une couleur :</legend>
        <input type="radio" id="noir" name="couleur" value="noir" checked>
        <label for="huey">Noir</label>
        <div>
            <input type="radio" id="rouge" name="couleur" value="rouge">
            <label for="huey">Rouge</label>
    </fieldset>
</body>

</html>