<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <title>Casisio</title>
  </head>
  <body>
    <div class="hero">
      <nav>
        <h2 class="logo">Casi<span>sio</span></h2>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="jeux.html">Nos jeux</a></li>
          <li><a class="active" href="#">A propos</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <button type="button"><a href="#">S'inscrire</a></button>
        <button type="button"><a href="#">Se connecter</a></button>
      </nav>
    </div>
  </body>
</html>
