<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="inscription.css">
    <script src="../src/js/login.js"></script>
    <title>Inscription</title>
</head>
<body>
    <div class="main">
        <div class="box">
            <h1>Inscription</h1>
            <form method="" action="">

                <div class="unInput">
                    <input type="text" name="Prenom" autocomplete="off" required>
                    <label>Prénom</label>
                </div>

                <div class="unInput">
                    <input type="number" name="dateNaissance" autocomplete="off" required>
                    <label>Age</label>
                </div>

                <div class="unInput">
                    <input type="text" name="Utilisateur" autocomplete="off" required>
                    <label>Nom d'utilisateur</label>
                </div>

                <div class="unInput">
                    <input type="password" name="MotDePasse" autocomplete="off" required>
                    <label>Mot de passe</label>
                </div>

                <div class="unInput">
                    <input type="password   " name="ConfirmerMotDePasse" autocomplete="off" required>
                    <label>Confirmer votre mot de passe</label>
                </div>

                <input type="submit" value="S'inscrire">
                    
            
                

            
            </form>
        </div>
    </div>
</body>
</html>
