<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <title>Casisio</title>
  </head>
  <body>
    <div class="hero">
      <nav>
        <h2 class="logo">Casi<span>sio</span></h2>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a class="active" href="jeux.html">Nos jeux</a></li>
          <li><a href="about.html">A propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <button type="button"><a href="#">S'inscrire</a></button>
        <button type="button"><a href="#">Se connecter</a></button>
      </nav>
      <section class="shop" id="shop" >
        <div class="container">
          <div class="box">
            <img src="media/roulette4.png">
            <h4>La roulette</h4>
          </div>
  
          <div class="box">
            <img src="media/roulette4.png">
            <h4>La roulette</h4>
          </div>
  
          <div class="box">
            <img src="media/roulette4.png">
            <h4>La roulette</h4>
          </div>
  
         
        </div>

      </section>
    </div>
    
  </body>
</html>
